<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.mybatis.model.Trainer" alias="Trainer"/>
        <typeAlias type="lt.vu.mybatis.model.Pokemon" alias="Pokemon"/>
        <typeAlias type="lt.vu.mybatis.model.Gymbadge" alias="Gymbadge"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="PokemonDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/TrainerMapper.xml"/>
        <mapper resource="mybatis.xml/PokemonMapper.xml"/>
        <mapper resource="mybatis.xml/GymBadgeMapper.xml" />
        <mapper resource="mybatis.xml/TrainerBadgeMapper.xml" />
    </mappers>
</configuration>
